<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088156341217-91i5c9hk5b2vfta3iqpr32f4g0rb0q17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088156341217-91i5c9hk5b2vfta3iqpr32f4g0rb0q17</string>
	<key>API_KEY</key>
	<string>AIzaSyCbOhWJ5o8pUn36zWuofkQCjodtr8n62bs</string>
	<key>GCM_SENDER_ID</key>
	<string>1088156341217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alshdjv.TikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-80395</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-80395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088156341217:ios:7c727ca99ff296981d38a0</string>
</dict>
</plist>